.about{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 80px;
    
}
.about-left{
    width: 60%;
    margin-left: 200px;
    margin-bottom: 80px;
}

.about-left a{
    background-color: #2a5348;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 50px 0px;
    display: inline-block;
}
.about-right{
    width: 40%;
    margin-left: 400px;
    margin-bottom: 80px;
}
.about-right ul h2{
    margin-left: -65px;
}

.about-right li{
    margin-left: -50px;
    list-style: none;
}