.services{
    display: flex;
    margin-top: 50px;
    text-align: center;
}
.service1{
    background-color: #ddd;
    margin-right: 10px;
}
.service2{
    background-color: #ddd;
    margin-right: 10px;
}
.service3{
    background-color: #ddd;
}

.service1 img{
    width: 300px;
    margin-top: 20px;
}
.service2 img{
    width: 350px;
    margin-top: 20px;
}
.service3 img{
    width: 300px;
    margin-top: 20px;
}

.service1 a{
    background-color: #2a5348;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 50px;

    display: inline-block;

}
.service2 a{
    background-color: #2a5348;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 50px;
    display: inline-block;
} 
.service3 a{
    background-color: #2a5348;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 50px;
    display: inline-block;
}